body {
    font-family: Arial, sans-serif;
    color: #5f5f5f;
    letter-spacing: 2px;
    /* 字的間距 */
}

header {
    text-align: right;
    padding: 5px;
    /* border-bottom: 1px solid #ccc; */
    /* 下面一條線 */
}

nav a {
    margin-left: 10px;
    font-weight: normal;
    color: #5f5f5f;
    text-decoration: none;
}

div {
    padding: 20px;
}

div img {
    border-radius: 50%;
    float: right;
    padding: 10px;
}

#orange {
    color: orange;
}